    <form action="/auth/edit-password" method="POST" id="form-container">

    
    <label for="password">New Password</label>
    <input id="password" type="password" name="password" placeholder="Your new password">
    <br>
    <label for="passwordConfirm">Confirm new Password</label>
    <input id="passwordConfirm" type="password" name="passwordConfirm" placeholder="Password confirm">
    <br>
