<head>

<style>

h1{
    font-size: 70px
}

h3{
    font-size: 50px
}


</style>


</head>


<body style="background-color:black">
    


<div style="text-align:center">
    <h1 style="color:red">  SICARIOS AL CANTO...   </h1>
     <h3 style="color:yellow">  En menos de 24 horas los viajeros serán basura  HAHAHAHAAHAHHAHAHAHAHAAHAHAH  NIETOS DE PUTA!!!!!! HAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHA</h3>

<img src="https://i.kym-cdn.com/photos/images/newsfeed/000/038/287/Hahaguy_blank_preview.jpg" alt="Sicarios">
<br>
    <form action="/profile/crazy2" method="GET">


</div>

   
</form>


</body>