<link rel="stylesheet" href="/stylesheets/auth.css">

<div class="form-container">
    <h2>Edit password</h2>
    <form action="/profile/edit-password" method="POST" id="form-container">
        <label for="password">Current password</label>
        <input id="currentPassword" type="password" name="currentPassword" placeholder="Your current password">
        <br>
        <label for="password">New Password</label>
        <input id="password" type="password" name="password" placeholder="Your new password">
        <br>
        <label for="passwordConfirm">Confirm new Password</label>
        <input id="passwordConfirm" type="password" name="passwordConfirm" placeholder="Password confirm">
        <br>
        <button>Edit password</button>
    </form>
</div>
