<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
    <div class="userInfo">
        {{> leftColumn this }}
    </div>
    <div class="trips">
        {{#if createdTrips}}
            {{> createdTrips this}}
        {{else}}
            {{> tripsMain this}}
        {{/if}}
    </div>
</div>