<div style="margin: 2em auto; width: 400px">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41LshRFRcwL._SX425_.jpg" alt="" style="width: 100%">
    <br><br>
    <a href="/">Go Home</a>
</div>
