<link rel="stylesheet" href="/stylesheets/index.css">

<section id="section1">
    <div class="header-container">
        <div class="box">
            <h2>Ready for the adventure?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste harum numquam, quis incidunt magnam, in obcaecati voluptas reprehenderit eligendi ad quisquam! Illo quisquam veniam voluptatum repellendus cupiditate consequuntur voluptates sed.</p>
        </div>
    </div>
</section>

<section id="section2">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi numquam illum unde distinctio assumenda deleniti voluptatem similique itaque corporis ullam in obcaecati pariatur est, facilis neque minima, quisquam atque impedit.
    Nam pariatur rem quaerat quidem, doloremque totam quia alias libero facilis delectus voluptates excepturi nobis iste repellat numquam repudiandae sequi veritatis unde. Voluptatem, animi officia. Corporis debitis possimus voluptate maxime!
    Eaque similique asperiores voluptatem tempora ea sed unde dolorem aspernatur eum quod amet impedit, nam magnam sapiente quae ad numquam consequatur nostrum consequuntur eveniet sunt praesentium ex obcaecati? Magnam, aliquid.
</section>

