<link rel="stylesheet" href="/stylesheets/index.css">

<section id="section1">
    <div class="header-container">
        <div class="box">
            <h2>Ready for the adventure?</h2>
            <p>
                Would you like to travel somewhere in the world but don't have anyone to do it with? <br>
                Are you one of those people who need to travel accompanied? <br>
                Are you brave enough to travel with strangers? <br><br>
                <b>Crazytrips is the solution!</b>
                <a href="https://crazytrips.herokuapp.com/auth/signup">Sign up for free</a>
            </p>
        </div>
    </div>
</section>



<section id="section2">

    <h2>What's CrazyTrips</h2>

    <p>We offer a platform where you can propose your trip for free and in less time than you expect you will have partners willing to join it. You will have the freedom to accept or reject with which partners you want to go. <br>
    Instead you want to travel but you do not feel like organizing and you do not know where to go? Then join the trip proposed by another partner. Thousands of people have used our services and have repeated.</p>

    <br>
    <div class="img-container">
        <div><img src="https://resizer.mundotkm.com/unsafe/2000x1334/http://cfglobal01.mundotkm.com/2017/09/solo-uso-ONLINE-shutterstock_562031971-copia-1-e1506608133246.jpg" alt=""></div>
        <div><img src="https://www.infobae.com/new-resizer/AcbawFaqwAOQtgw9RnAyXN8FIIw=/600x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/12/26205413/viajar-1920-2.jpg" alt=""></div>
    </div>
</section>

<section id="section3">
    <div class="container">
        <div class="img-container"><img src="https://metodosparaligar.com/wp-content/uploads/2017/12/hombre-tristeza-ventana-pensativo-duelo.jpg" alt=""></div>

        <div class="history">
            <h2>Learn about the story of Peter Malanga</h2>
            <p>Hi guys! I'm Peter and I'm going to tell you how crazy trips changed my life. I was a sad person because I could not fulfill his dream of traveling. I had no companions. I spent my summer evenings sitting in the window imagining trips and adventures. One day, surfing the internet I got to know Crazy trips. I could not believe it. What I wanted so much was in front of my eyes. With just a few clicks I was inside. I proposed my desired trip through Greece and in less than 3 days I already had companions. Those days were the best days of my life. I will repeat and I have joined a trip to Tanzania. I'll be enjoying it in a month. Now my life does make sense thanks to Crazy Trips.</p>
        </div>
    </div>
</section>

<section id="section4">
    <div class="container">
        <h2>Terms of Use</h2>

        Navigation, access and use by the website Crazy trips confers the condition of user, by which they accept, from browsing the website, all the conditions of use established here without prejudice to the application of the corresponding mandatory regulations. legal depending on the case.
        <br>
        The Crazy Trips website provides a great diversity of information, services and data. The user assumes his responsibility in the correct use of the website.
        <br>
        Crazy Trips is not responsible for the conditions or incidents of the trip. The purpose of this website is to put people in contact with each other to travel, leaving it totally out of their competence to organize it and what happens once the trip has started.
        <br>
        In accordance with the provisions of the Law on Data Protection, Crazy Trips informs users of your website that personal data collected by the company, using forms located on its pages, will be entered into an automated file under the responsibility of Crazy trips, in order to facilitate, expedite and meet the commitments established between both parties. 
    </div>
</section>

<footer>
    <div class="container">
        © Copyright 2018 Copyright.com -All rights reserved. <br>
        Crazy Trips is a registered trademark
    </div>
</footer>