<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <header>
      <div>
        <a href="/"><h1>CrazyTrips</h1></a>
        <ul>
          <li><a href="/auth/login">Log In</a></li>
          <li><a href="/auth/signup">Sign Up</a></li>
        </ul>
      </div>
    </header>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
