<!-- Froala Stuff -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href='/stylesheets/froala/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/froala/froala_style.min.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/stylesheets/froala/plugins/code_view.min.css" />
<link rel="stylesheet" href="/stylesheets/froala/plugins/image.min.css" />
<link rel="stylesheet" href="/stylesheets/froala/plugins/table.min.css" />

<form action="/trips/create" method="POST">
    <label for="destination">Destino: </label>
    <input type="text" name="destination"> <br><br>

    <label for="price">Precio: </label>
    <input type="text" name="price"> <br><br>

    <textarea name="description" id="editor"></textarea> <br><br>

    <label for="maxTravelers">Maximo viajeros: </label>
    <input type="number" name="maxTravelers"> <br><br>

    <label for="startDate">Fecha Inicio: </label>
    <input type="date" name="startDate"> <br><br>

    <label for="endDate">Fecha Fin: </label>
    <input type="date" name="endDate"> <br><br>

    <input type="submit">
</form>

<!-- Include JS file. -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='/javascripts/froala/froala_editor.min.js'></script>
<script src="/javascripts/froala/plugins/align.min.js"></script>
<script src="/javascripts/froala/plugins/lists.min.js"></script>
<script src="/javascripts/froala/plugins/code_view.min.js"></script>
<script src="/javascripts/froala/plugins/image.min.js"></script>
<script src="/javascripts/froala/plugins/table.min.js"></script>
<script src="/javascripts/froala/plugins/paragraph_format.min.js"></script>
<script src="/javascripts/froala/plugins/link.min.js"></script>
<script src="/javascripts/froala/froala.js"></script>